<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Target</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="icon" href="https://th.bing.com/th/id/OIP.Krzs-rMfxEGo2zIA-TJWGwHaE-?w=284&h=190&c=7&r=0&o=5&pid=1.7">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">         </a>
  <a class="navbar-brand" href="/">   Target</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/module">Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/library">Libraries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/framework">Frameworks</a>
      </li>
<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Module: {{mf}}  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Framework: {{ff}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">  </a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Libraries: {{lf}}</a>
      </li>
  </div>
</nav>
    <div class="container">
        <div class="card">
            <div class="img-box">
                <img src="{{url_for('static',filename='your_custom_beautiful_quotes_here (3).png')}}" alt="img">
            </div>
            <div class="content">
                <a href="/framework"><h2>Frameworks({{f}})</h2></a>
                <p>Python frameworks are basically a collection of modules or packages that help in creating web applications.</p>
            </div>
        </div>
        <div class="card">
            <div class="img-box">
                <img src="{{url_for('static',filename='your_custom_beautiful_quotes_here (2).png')}}" alt="img">
            </div>
            <div class="content">
                <a href="/library"><h2>Libraries({{l}})</h2></a>
                <p>The Python Standard Library contains the exact syntax, semantics, and tokens of Python.</p>
            </div>
        </div>
        <div class="card">
            <div class="img-box">
                <img src="{{url_for('static',filename='your_custom_beautiful_quotes_here (1).png')}}" alt="img">
            </div>
            <div class="content">
                <a href="/module"><h2>Modules({{m}})</h2></a>
                <p>A Python module is a file containing Python definitions and statements. A module can define functions, classes, and variables.</p>
            </div>
        </div>
    </div>
</body>
</html>